<!DOCTYPE html>
<html>
<head>
    <title>기숙사 룸메이트 설문지 - 페이지 8</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="progress-container">
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
        </div>
        <h1>기숙사 룸메이트 설문지 - 페이지 8</h1>
        <form id="survey-form" action="{{ url_for('survey_page8') }}" method="post">
            <div class="form-group">
                <label for="indoor_dining">실내 취식:</label>
                <select id="indoor_dining" name="indoor_dining">
                    <option value="X">X</option>
                    <option value="환기잘하고 바로치우면 가능">환기잘하고 바로치우면 가능</option>
                    <option value="상관없음">상관없음</option>
                </select>
            </div>
            <div class="form-group">
                <label for="late_night_snack">야식:</label>
                <select id="late_night_snack" name="late_night_snack">
                    <option value="X">X</option>
                    <option value="별로">별로</option>
                    <option value="중간">중간</option>
                    <option value="좋아">좋아</option>
                    <option value="자주">자주</option>
                </select>
            </div>
        </form>
        <div class="button-container">
            <form action="{{ url_for('survey_page7') }}" method="get">
                <button type="submit">이전</button>
            </form>
            <form action="{{ url_for('result') }}" method="post">
                <button type="submit" form="survey-form">다음</button>
            </form>
        </div>
    </div>
</body>
</html>
