<!DOCTYPE html>
<html>
<head>
    <title>기숙사 룸메이트 설문지 - 페이지 4</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="progress-container">
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle active"></div></div>
            <div class="progress-step"><div class="progress-circle"></div></div>
            <div class="progress-step"><div class="progress-circle"></div></div>
            <div class="progress-step"><div class="progress-circle"></div></div>
            <div class="progress-step"><div class="progress-circle"></div></div>
        </div>
        <h1>기숙사 룸메이트 설문지 - 페이지 4</h1>
        <form id="survey-form" action="{{ url_for('survey_page4') }}" method="post">
            <div class="form-group">
                <label for="cleaning_habits">방청소:</label>
                <select id="cleaning_habits" name="cleaning_habits">
                    <option value="그때그때">그때그때</option>
                    <option value="매일">매일</option>
                    <option value="주기적">주기적</option>
                    <option value="한번에">한번에</option>
                </select>
            </div>
            <div class="form-group">
                <label for="floor_preference">바닥:</label>
                <select id="floor_preference" name="floor_preference">
                    <option value="매트깔기">매트깔기</option>
                    <option value="그냥살기">그냥살기</option>
                </select>
            </div>
        </form>
        <div class="button-container">
            <form action="{{ url_for('survey_page3') }}" method="get">
                <button type="submit">이전</button>
            </form>
            <form action="{{ url_for('survey_page5') }}" method="post">
                <button type="submit" form="survey-form">다음</button>
            </form>
        </div>
    </div>
</body>
</html>
